* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.quote-nav {
  width: 100%;
  height: 10vh;
  background-color: rgb(219, 215, 215);
  display: flex;
  align-items: center;
  padding: 0 5%;
  margin-bottom: 5%;
  grid-row: 1 / 1;
  gap: 50%;
}

body {
  width: 100%;
}

.quote-container {
  display: grid;
  grid-template-rows: 15% 70% 15%;
  grid-row-gap: 3%;
  background-color: white;
  height: 100%;
  min-height: 99vh;
}

.quote-lists {
  list-style: none;
  display: flex;
  gap: 5%;
}

.quote-listitem {
  border-right: 1px solid black;
  padding-right: 3%;
  padding-left: 3%;
  font-size: 1.5rem;
  font-family: 'Comic Neue', cursive;
}

li:hover {
  border-bottom: 2px solid black;
}

.quote-header {
  font-size: 2rem;
  font-family: 'Comic Neue', cursive;
}

a {
  text-decoration: none;
  color: black;
}

.quote-main {
  width: 95%;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin-left: 3%;
  grid-row: 2 / 3;
}

h3 {
  color: black;
  font-size: 2rem;
  margin-bottom: 3%;
  font-family: 'Comic Neue', cursive;
}

.quote-paragraph1 {
  color: black;
  font-size: 1.4rem;
  margin-bottom: 5%;
  font-family: 'Comic Neue', cursive;
  padding-top: 8%;
  font-weight: bold;
}

footer {
  width: 100%;
  height: 10vh;
  background-color: rgb(219, 215, 215);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  grid-row: 3 / 3;
}
